<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cristianmarcu.newsflow">

    <!-- Required for HTTP requests (NewsAPI) and URL launching -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="NewsFlow"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Theme applied before Flutter UI initializes -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <!-- Launcher intent for app entry -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Required by Flutter for plugin registration -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>

    <!-- Queries for opening URLs in browsers -->
    <queries>
        <!-- Separate intents for http and https -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="http"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>

        <!-- Support common browser packages -->
        <package android:name="com.android.chrome"/>
        <package android:name="org.mozilla.firefox"/>
        <package android:name="com.opera.browser"/>

        <!-- Text processing query for Flutter plugins -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
